:root {
    --black: #121212;
    --black-1: #202020;
    --black-2: #333333;
    --white: #f5f5f5;
    --white-1: #ffffff;
    --white-2: #3333331a;
}

body {
    background-color: var(--black-1);
    color: var(--white);
    --st-element: var(--black-1);
    --border: var(--black-2);
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif; 
    transition: .5s;
    margin: 0px;
}

.site-nav .page-link, .site-title, .site-title:visited {
    color: var(--white);
}

section {
    display: flex;
    flex-flow: row wrap;
}

section div {
    background-color: var(--st-element);
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border);
    transition: .25s;
    box-shadow: #0000001f 0px 0 10px 0px;
}

section div:last-child {
    margin-bottom: 0px;
}


footer {
    position: sticky;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--st-element);
    box-shadow: 0 -0.22em 0.27em rgb(0 0 0 / 30%);
    margin-top: auto;
    text-align: center;
}

header,
footer {
    transition: .25s;
}

main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}


@media (min-width:800px) {
    section div {
        flex: 1 0 25%;
    }
}

.page-heading {
    color: rebeccapurple !important;
}




/* code block style */
.highlighter-rouge .highlight, pre, code {
    background-color: var(--black-1);
    color: var(--white);
}

.kn {
    color: #ff6ff4;
}

.n {
    color: #fff39edb;
}

.highlight .nn {
    color: #3fd395;
}

.highlight .s {
    color: #ff7c9d;
}