---
layout: home
---

<head>
    <link rel="stylesheet" href="/assets/css/styles.css">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
    </style>
</head>
<main>
    {{ content }}
</main>

<script>
    var bar = document.querySelector(".theme-toggle");
    var ball = document.querySelector(".theme-toggle-ball");

    var sun = document.querySelector(".sun");
    var moon = document.querySelector(".moon");

    bar.addEventListener("click", () => {
        var checkbox = document.querySelector("#checkbox");

        ball.classList.toggle("ball-dark-theme")
        document.querySelector("body").classList.toggle("dark-theme")

        document.querySelector("body").classList.toggle("light-theme")

        sun.classList.toggle("invisible-icon");
        moon.classList.toggle("invisible-icon");

        checkbox.checked = !checkbox.checked

    });
</script>